body {
    margin: auto;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 1.2em;
    background: white;
    width: 1349px;
}

#background {
    background-image: url(../image/AccountLogin.png);
    background-position-x: center;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 1200px;
    width: 1450px;
    height: 700px;
    margin-left: -140px;
}

#content{
    float: right; 
    text-align: center;
    margin-left: 1000px;
    width: 370px;
}

#logo{
    margin-bottom: 30px;
}

a.back {
    margin-bottom: 30px;
    text-align: left;
    display: block;
    padding: 20px 15px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    transition: all .25s ease;
    -ms-transition: all .25s ease;
    -webkit-transition: all .25s ease;
    width: 60px;
    margin-left: -16px;
}

a.back:hover {
    padding: 20px 5px;
    font-weight: 600;
}

#id_icon {
    width: 250px;
    height: 50px;
    background: url('../image/id_icon.png') no-repeat;
    background-size: 35px;
    background-position: left center;
    border-bottom: 2px solid #4d4d4d;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 60px;
}

.id {
    width: 200px;
    height: 45px;
    margin-left: 65px;
    border: none;
    color: black;
    opacity: 0.7;
    font-size: 1.1em;
    font-weight: bold;
}

.id:focus {
    outline-width: 0;
    opacity: 1.0;
}

#password_icon {
    width: 250px;
    height: 50px;
    background: url('../image/password_icon.png') no-repeat;
    background-size: 35px;
    background-position: left center;
    border-bottom: 2px solid #4d4d4d;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 60px;
}

.pass {
    width: 200px;
    height: 45px;
    margin-left: 65px;
    border: none;
    color: black;
    opacity: 0.7;
    font-size: 1.1em;
    font-weight: bold;
}

.pass:focus {
     outline-width: 0;
     opacity: 1;
}


::-webkit-input-placeholder { /* Chrome */
    color: black;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

:focus::-webkit-input-placeholder {
    color: black;
}

:-ms-input-placeholder { /* IE 10+ */
    color: black;
}

::-moz-placeholder { /* Firefox 19+ */
    color: black;
    opacity: 1;
}

:-moz-placeholder { /* Firefox 4 - 18 */
    color: black;
    opacity: 1;
}

#btnLogin {
    font-size: 1em;
    position: relative;
    background: #1AB188;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    display: inline-block;
    margin-top: 10px;
    opacity: 0.9;
    width: 300px;
    height: 50px;
    letter-spacing: 0.5em;
    text-align: center;
    margin-top: 50px;
}

#btnLogin:hover {
     opacity: 1;
}

