body {
    margin: auto;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 1.2em;
    background: white;
    width: 1349px;
}

#background {
    background-image: url(../image/Login.png);
    background-position-x: center;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 1200px;
    width: 1450px;
    height: 700px;
    margin-left: -140px;
}

#content{
    float: right; 
    text-align: center;
    margin-right: 25px;
}

#logo{
    margin-bottom: 30px;
}

a.back {
    margin-bottom: 30px;
    text-align: left;
    display: block;
    padding: 20px 15px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    margin-left: -40px;
    transition: all .25s ease;
    -ms-transition: all .25s ease;
    -webkit-transition: all .25s ease;
    width: 60px;
}

a.back:hover {
    padding: 20px 5px;
    font-weight: 600;
}

#btnStudent {
    font-size: 1em;
    position: relative;
    background: #1AB188;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    display: inline-block;
    margin-top: 20px;
    opacity: 0.9;
    width: 250px;
    height: 50px;
    letter-spacing: 0.5em;
    text-align: center;
}

#btnStudent:hover {
     opacity: 1;
}

#btnStaff {
    font-size: 1em;
    position: relative;
    background: #CC0000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    display: inline-block;
    margin-top: 30px;
    opacity: 0.9;
    width: 250px;
    height: 50px;
    letter-spacing: 0.5em;
}

#btnStaff:hover {
     opacity: 1;
}