html {
    background-color: white;
}

body {
    margin: auto;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 1.2em;
    background: white;
    width: 1349px;
}

header {
    background-image: url(../image/Background.png);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 1349px;
    width: 1349px;
    height: 680px;
}

.nav {
    margin-top: 50px;
    padding-left: 700px;
    width: 1349px;
    position: fixed;
    z-index: 100;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav li {
    position: relative;
    display: inline-block;
}

.nav a {
    display: block;
    padding: 10px 20px;
    color: white;
    font-size: 1.1em;
    text-align: center;
    text-decoration: none;
    transition: all .25s ease;
    -ms-transition: all .25s ease;
    -webkit-transition: all .25s ease;
}

.nav a:hover {
    color: coral;
    cursor: pointer;
}

.nav li ul {
    z-index: 2;
    left: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 20px;
    box-shadow: 1px 4px 3px #585858;
    transition: all .25s ease;
    -ms-transition: all .25s ease;
    -webkit-transition: all .25s ease;
}

.nav li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 40px;
}

.nav li ul li {
    width: 150px;
    position: relative;
    margin: 0;
    display: block;
    background: black;
}

.header_content {
    margin: auto;
    padding: 0;
    text-align: center;
    padding-top: 180px;
    color: white;
}

#logo{
    margin-bottom: 30px;
}

.header_content h1{
    font-size: 5em;
    letter-spacing: 5px;
}

.header_content h2 {
    font-size: 2em;
    font-weight: lighter;
}

#login {
    font-size: 1em;
    position: relative;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid;
    background: none;
    opacity: 0.8;
    cursor: pointer;
    color: white;
    display: inline-block;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    letter-spacing: 0.5em;
}

#login:hover {
     opacity: 1;
     border: 2px solid;
}

.header_content {
    z-index: 1;
}

.header_content.float{
    animation-name: floatin;
    position: relative;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes floatin {
    0% {
        opacity: 0;
        top: 200px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

#content_about {
    margin-top: 100px;
    height: 400px;
}

.left_about {
    float: left;
    margin-left: 120px;
}

.left_about.move{
    animation-name: left-right;
    position: relative;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes left-right {
    0% {
        opacity: 0;
        left: -100px;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes right-left {
    0% {
        opacity: 0;
        right: -100px;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}


.line_about {
    display: block;
    width: 10px;
    border: 0;
    border-top: 5px solid black;
    margin: 1em 0;
    padding: 0;
    margin: 0px;
}

.line_about.grow {
    animation-name: grow;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes grow {
    0% {
        opacity: 0;
        width: 10px;
    }

    100% {
        opacity: 1;
        width: 100px;
    }
}

.right_about {
    float: right;
    width: 800px;
    margin-top: -30px;
    margin-left: 30px;
    margin-right: 100px;
}

.right_about.move {
    animation-name: right-left;
    position: relative;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
}

.table{
    padding-top: 30px;
    width: 200px;
}

.image{
    width: 60px;
    margin-left: 30px;
    margin-right: 20px;
}

#content_features {
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
    margin-top: -100px;
}

.line_features {
    display: block;
    width: 10px;
    border: 0;
    border-top: 5px solid black;
    margin: 1em 0;
    padding: 0;
    margin: 0px;
    margin-bottom: 30px;
}

.line_features.grow1 {
    animation-name: grow1;
    -webkit-animation-duration: 5s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes grow1 {
    0% {
        opacity: 0;
        width: 10px;
    }

    100% {
        opacity: 1;
        width: 1100px;
    }
}

#content_features h4 {
    margin-top: 170px;
    color: white;
}

#content_features ul {
    margin-left: 10px;
    color: white;
    text-align: left;
    width: 120px;
}

#content_features ul li{
    margin-top: 5px;
    list-style-image: url("../image/list_img.png");
}

#union {
    background-image: url(../image/Features_Union.png);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 200px;
    height: 500px;
    float: left;
    margin-left: 150px;
}

#union.move{
    animation-name: left-right;
    position: relative;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
}

.hr {
    margin-left: 30px;
    display: block;
    width: 140px;
    border: 0;
    border-top: 1px solid white;
}


#market {
    background-image: url(../image/Features_Market.png);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 200px;
    height: 500px;
    float: left;
    margin-left: 100px;
}

#market.move {
    animation-name: floatin;
    position: relative;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
}

#classroom {
    background-image: url(../image/Features_Classroom.png);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 200px;
    height: 500px;
    float: right;
    margin-right: 150px;
}

#classroom.move {
    animation-name: right-left;
    position: relative;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
}

#content_announcement{
    margin-top: 650px;
    margin-left: 120px;
}

#content_announcement.float {
    animation-name: floatin;
    position: relative;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
}


.line_announcement{
    display: block;
    width: 10px;
    border: 0;
    border-top: 5px solid black;
    margin: 1em 0;
    padding: 0;
    margin: 0px;
}

.line_announcement.grow {
    animation-name: grow;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
}

footer {
    background: rgba(0,0,0,0.8);
    height: 80px;
    color: white;
    margin-top: 100px;
}

.footer{
    padding-top: 30px;
    margin-left: 120px;
}

